@import '../scss/bootstrap-config';

.modalVideo {
  background: url('../images/video.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px transparentize($black, .75);
  cursor: pointer;
  display: block;
  padding-bottom: 64%;
  position: relative;

  &_cpra {
    background-image: url('../images/cpraposter.png');
  }

  &_webcast {
    background-image: url('../images/webcastposter.png');
  }

  &_rsacITOT {
    background-image: url('../images/uploads/rsac-it-ot.jpg');
  }

  &_ransomwareBattleground {
    background-image: url('../images/uploads/ransomware-battleground.png');
  }
}

.modalPlay {
  background: url('../images/visuals/play.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100px;
}
