@import '../scss/bootstrap-config';

.container {
    background-color: $grey-100;
    position: relative;


}

.theme {
    &-dark {
        background-color: $secondary;
        color: $white;


    }

    &-white {
        // background-color: $white;
        // box-shadow: -20px -20px 40px 0 rgba(246,246,248,0.46), 20px 20px 40px 0 rgba(94,118,132,0.15);


        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 2.5rem 3rem 3rem;
        width: calc(60% - 8rem);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(30.74%, #23273c), color-stop(103.33%, #141529));
        background: -o-linear-gradient(top, #23273c 30.74%, #141529 103.33%);
        background: linear-gradient(180deg, #23273c 30.74%, #141529 103.33%);
        text-decoration: none;
        position: relative;
        -webkit-transition: top .2s, background-image .2s;
        -o-transition: top .2s, background-image .2s;
        transition: top .2s, background-image .2s;
        top: 0;
        z-index: 2;
        width: 100%;
        margin: auto;


    }

    &-light {
        // background: $grey-100;
        // color: $body-color;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 1rem;
        padding: 3rem 2rem;
        background: linear-gradient(180deg, #23273c 28.03%, #0b0c1b 103.33%);
        border-radius: 2px;
        width: 100%;
        top: 0;
        transition: top .2s, background-image .2s;
        margin: auto;
        &:hover {
            top: -10px;
        }

        b {
            color: $blue-400;
            font-weight: inherit;
        }
    }

    &-gradient {
        background-color: $white;
        background-image: linear-gradient($white, $grey-100);
    }
}

.background {
    &-globe {
        background-image: url('../images/backgrounds/globe.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: auto 150%;
    }
}

.rounded {
    border-radius: 5px;
}