@import '../scss/bootstrap-config';

.slideshow {
    border-radius: 5px;
    overflow: hidden;
}

.item {
    background-color: $blue-400;
    height: 100%;
    padding-top: 40%;
    position: relative;

    @include media-breakpoint-up(md) {
        padding: 70px 40px;
    }
}

.caption {
    background-color: $white;
    bottom: auto;
    color: $grey-900;
    text-align: left;
    margin: 0;
    padding: 30px;

    @include media-breakpoint-up(md) {
        background-color: transparentize($white, .05);
        border-radius: 5px;
        margin: 0 3% 0 auto;
        padding: 60px;
        width: 60%;
    }

    @include media-breakpoint-up(lg) {
        width: 40%;
    }
}
