@import '../scss/bootstrap-config';

.table {
    th {
        @include media-breakpoint-up(md) {
            background-color: $grey-100;
        }
    }

    td {
        vertical-align: top;
    }

    .noAlign {
      vertical-align: middle;
    }
}

.text {
    font-size: 11px;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}
