@import '../scss/bootstrap-config';

.banner {
    background-color: $grey-950;
    color: $white;
    overflow: hidden;
    position: relative;
}

.bannerClosed {
    height: 0;
}

.bannerGrey {
    background-color: $grey-100;
    color: $white;
}

.bannerWhite {
    background: rgb(11, 12, 27);
    color: $white;
}

.bannerSmall {
    width: 70%;

    @include media-breakpoint-down(lg) {
        width: 90%;
    }

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.row {
    align-items: center;
    justify-content: center;
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;

    @include media-breakpoint-down(sm) {
        flex-flow: column;
    }
}

.close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: $spacer;
}